<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.serviceModel>
		<!-- Service Behaviors -->
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true. -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<!-- Service Definitions -->
		<services>
			<service name="WCF_ProjectService.Service1">
				<!-- Use a relative URL for the service endpoint -->
				<endpoint address="" binding="basicHttpBinding" contract="WCF_ProjectService.IService1" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>

		<!-- Protocol Mapping -->
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>

		<!-- Hosting Configuration -->
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>